<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <a href="#" class="nav-link">
        <div class="nav-profile-image">
          <img href="#editProfileModal" src="assets/images/faces/admin.png" data-toggle="modal" title="Edit Profile" alt="profile">
          <span class="login-status online"></span>
          <!--change to offline or busy as needed-->
        </div>
        <div class="nav-profile-text d-flex flex-column">
          <span class="font-weight-bold mb-2">Fed Libadia II</span>
          <span class="text-secondary text-small">Administrator</span>
        </div>
        <i href="#changePasswordModal" class="mdi mdi mdi-border-color text-success nav-profile-badge" data-toggle="modal" title="Change Password"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="index.html">
        <span class="menu-title">Dashboard</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
    <br>
    <li class="nav-item">
      <span style="font-size: xx-small;">MASTER LIST</span>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="document.html">
        <span class="menu-title">All Documents</span>
        <i class="mdi mdi-file-document menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="track_doc.html">
        <span class="menu-title">Track Documents</span>
        <i class="mdi mdi-magnify menu-icon"></i>
      </a>
    </li>
    <br>
    <li class="nav-item">
      <span style="font-size: xx-small;">SETTINGS</span>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="dmmmsu-mluc.html">
        <span class="menu-title">DMMMSU-MLUC</span>
        <i class="mdi mdi-office menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="users.html">
        <span class="menu-title">User</span>
        <i class="mdi mdi-account-multiple-outline menu-icon"></i>
      </a>
    </li>
  </ul>
</nav>